div#scb-wrapper {
  display: none;
}
.home-page-content{
  font-size: 18px;
  text-align: justify;
  color: #656f78;
}
.wpcf7-form-control.wpcf7-submit.btn-block.btn-service-form {
  background: #000;
  color: #fff;
}
::-moz-selection { /* Code for Firefox */
  background: #36b7d7 ;
  
}

::selection {
  background: #36b7d7 ;
  
}
.wpcf7-form-control.wpcf7-submit {
  background: #000 !important;
}