@charset "utf-8";
/* CSS Document */

* {
font-family: font-family: 'Montserrat', sans-serif;
}
:focus {
	outline: none !important;
	box-shadow: none
}
@font-face {
	font-family: 'oswaldlight';
	src: url('../fonts/oswald-light.woff2') format('woff2'),  url('../fonts/oswald-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff2') format('woff2'),  url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswald_regularregular';
	src: url('../fonts/oswald-regular.woff2') format('woff2'),  url('../fonts/oswald-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: '';
	text-transform: uppercase
}
ul {
	padding: 0;
	margin: 0;
	list-style: none
}
a:focus, a:hover {
	text-decoration: none
}
.no-padding-right {
	padding-right: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.no-padding {
	padding: 0
}
#banner-container {
    background: url("/img/home-hero-bg-1920x1200.jpg");
    background-repeat: no-repeat;
    width: 100%;
    padding: 180px 0px 240px 0px;
    background-position: 60% 50%;
    position: relative;
    display: inline-block;
    background-size: cover;
}
.banner-text span {
	color: #36b7d7;
	font-family: "Montserrat", sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-shadow: 0 0 4px rgba(0,0,0,0.2608);
	text-transform:uppercase;
}
.banner-text h1 {
    font-size: 68px;
    color: ##fff;
    text-transform: uppercase;
    margin: 0 0 0px;
    padding-bottom: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-weight: 600;
    text-shadow: 0 0 4px rgba(0,0,0,0.2608);
}
.banner-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 35px;
}
.banner-text .btn-banner {
	background-color: #36b7d7;
	border: medium none;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	height: 50px;
	width: 185px;
	font-weight:500;
	transition:ease;
	transition:0.4s;
}
input.btn-banner:hover {
    background: #36b7d7;
}
nav.navbar.navbar-default.navbar-fixed-top {
	background-color: rgba(0, 0, 0, 0);
	border: 0 none;
}
/*nav.navbar.navbar-default.navbar-fixed-top.sticky {
	background-color: #35b2c8;
}
.sticky .navbar-brand {
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.sticky .navbar-brand > img {
	width: 70%;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.sticky.navbar-default .navbar-brand {
	padding: 4px 0 10px;
	position: relative;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.sticky.navbar-default .navbar-nav > .active > a, .sticky.navbar-default .navbar-nav > .active > a:focus, .sticky.navbar-default .navbar-nav > .active > a:hover, .sticky.navbar-default .navbar-nav > li a:hover, .sticky.navbar-default .navbar-nav > li a:focus, .sticky.navbar-default .navbar-nav > li a:active {
	background-color: #fff;
	text-shadow: none
}
.sticky.navbar-default .navbar-nav > li.contact-details {
	margin-top: 6px
}*/
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: relative;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	font-weight: 400;
}
.navbar-default .navbar-nav > li.contact-details p {
	font-size: 17px;
	font-family: '';
	display: inline-block;
	line-height: 2;
	margin-bottom: 0
}
.navbar-default .navbar-nav > li a span {
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:active {
	background-color: transparent;
	color: #36b7d7;
}
.navbar-default .navbar-nav > li a:hover span, .navbar-default .navbar-nav > li a:focus span, .navbar-default .navbar-nav > li a:active span {
	background-color: #fff;
	color: #35b2c8
}
.navbar-default .navbar-nav > li {
	position: relative;
}
.navbar-default .navbar-nav > li::after {
	background-color: #939393;
	content: "";
	height: 15px;
	position: absolute;
	right: 0;
	width: 1px;
	top: 0;
	bottom: 0;
	margin: auto
}
.navbar-default .navbar-nav > li:last-child::after {
	display: none;
}
.navbar-default .navbar-nav > li:nth-last-child(3) > a::after {
	display: none;
}
.navbar-default .navbar-brand {
	padding: 10px 0 10px 0;
	height: auto;
	min-height: auto;
	position: relative;
}
#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
.navbar-default .navbar-nav > li.contact-details span {
	background-color: #35b2c8;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	display: inline-block;
	font-size: 15px;
	height: 30px;
	line-height: 1.9;
	text-align: center;
	width: 30px;
	vertical-align: middle
}
.navbar-default .navbar-nav > li.contact-details {
	margin-left: 18px;
	margin-top: 8px;
}
.navbar-default .navbar-nav > li.contact-details a {
	padding: 0;
}
.navbar-default .navbar-nav > li.contact-details a:after {
	display: none
}
/*.sticky.navbar-default .navbar-nav > li.contact-details a span {
	background-color: #fff;
	color: #35B2C8
}
.sticky.navbar-default .navbar-nav > li.contact-details a span i {
	text-shadow: none
}
.sticky.navbar-default .navbar-nav > li.contact-details a:hover i, .sticky.navbar-default .navbar-nav > li.contact-details a:focus i, .sticky.navbar-default .navbar-nav > li.contact-details a:active i {
	color: #35B2C8
}
.sticky.navbar-default .navbar-nav > li.contact-details a:hover, .navbar-default .navbar-nav > li.contact-details a:focus, .navbar-default .navbar-nav > li.contact-details a:active {
	background-color: transparent;
	color: #fff
}*/
/*== 180120 ==*/
.top-header {
	width: 100%;
	background: #29afd0;
	padding: 5px 0;
	float: left;
}
header.dr-header .navbar {
	margin-bottom: 0;
	border: 0;
	float: left;
	width: 100%;
}
.dr-header nav.navbar.navbar-default {
    background: #000;
    box-shadow: 0 0 26px rgba(0, 0, 0,0.175);
    z-index: 1;
    border-radius: 0px;
}
header.dr-header {
	float: left;
	width: 100%;
	position: relative;
}
.navbar-default .navbar-nav > li > a {
	padding: 0;
}
.navbar-default .navbar-nav > li {
	padding: 10px 15px;
}
ul.nav.navbar-nav {
	margin-top: 17px;
}
ul.social-sec {
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	padding-top: 5px;
}
ul.social-sec li {
	display: inline-block;
	margin-right: 11px;
}
li.contact-details {
	transition: ease;
	transition-duration: 0.4s;
}
ul.social-sec li a {
	color: #fff;
}
ul.top-ul li span {
	transition:ease;
	transition-duration:0.4s;
}
ul.top-ul li i{
	transition:ease;
	transition-duration:0.4s;
}
ul.top-ul li {
	display: inline-block;
	padding-left: 30px;
	font-family: 'Montserrat', sans-serif;
}
ul.top-ul li a span {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #2e2e2e;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	color: #fff;
	margin-right: 10px;
}
ul.top-ul li a p {
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-bottom: 0;
}
li.contact-details:hover i {
    color: #36b7d7;
}
li.contact-details:hover span {
    background:#ffffff;
}
.free-notice-btn a.btn.btn-primary {
	color: #36b7d7;
	border: 0;
	border-radius: 0;
	background-color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 13px
}
section.banner-section {
	display: inline-block;
	width: 100%;
}
.banner-content span {
	color: #36b7d7;
	font-family: "Montserrat", sans-serif;
	font-size: 60px;
	font-weight: 600;
	text-shadow: 0 0 11px rgba(0,0,0,0.2608);
	text-transform:uppercase;
}
.skew {
	background-image: url("../svg/banner-strip.svg");
	background-repeat: no-repeat;
	background-size: cover;
	bottom: -3px;
	height: 150px;
	left: 0;
	position: absolute;
	width: 100%;
}
.banner-content h1 {
    font-size: 68px;
    color: #2e2e2e;
    text-transform: uppercase;
    margin: 0 0 0px;
    padding-bottom: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-weight: 600;
    text-shadow: 0 0 11px rgba(0,0,0,0.2608);
}
.banner-content h1::after {
	background-image: url("../images1/banner-heading-border.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	bottom: 0;
	content: "";
	height: 4px;
	left: 0;
	position: absolute;
	width: 75px;
	display:none;
}
.banner-content p {
	font-family: "Montserrat", sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #fff;
}
.banner-section .owl-theme .owl-controls {
	text-align: left;
}
.msg_fixed {
	background-color: #36b7d7;
	border-radius: 9px 0 0 9px;
	display: block;
	height: 66px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 30%;
	vertical-align: middle;
	width: 66px;
	z-index: 9;
	opacity:0.8;
	transition:ease;
	transition-duration:0.4s;
}
span.msg_fixed:hover {
    background: #36b7d7;
}
.banner-section .owl-theme .owl-controls .owl-buttons div {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #35b2c8;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	height: 36px;
	margin: 5px;
	opacity: 0.5;
	text-align: center;
	width: 36px;
	padding: 0
}
.banner-section .owl-theme .item > figure {
	height: 700px;
}
.banner-section #owl-demo .item img {
	height: 100%
}
.msg_fixed > a {
	display: table-cell;
	height: 66px;
	text-align: center;
	vertical-align: middle;
	width: 66px;
}
.msg_fixed i {
	color: #ffffff;
	font-size: 28px;
	transform: rotate(-18deg);
}
.shadow-img {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: -40px;
	width: 100%
}
.banner-content {
    left: 11%;
    max-width: 560px;
    position: absolute;
    top: 35%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
    width: 100%;
}
.banner-section .owl-theme .owl-controls {
	display: none;
}
.banner-pic {
	bottom: 0;
	margin-top: 0;
	position: absolute;
	right: 0;
	z-index: 9;
}
.page-header {
	margin: 0;
	padding: 0;
	border: 0
}
.page-header h2 {
    display: inline-block;
    position: relative;
    font-size: 60px;
    color: #2e2e2e;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    margin: 0 0 5px;
}
.heading-image {
	display: block;
}
.heading-bottom {
    color: #626262;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 2 !important;
    font-size: 18px !important;
}
#demo #owl-demo .banner-content img {
	height: auto;
	margin-top: 10px;
	width: auto;
}
.banner-content p {
	color: #2e2e2e;
	font-size: 21px;
	margin-bottom: 45px;
	margin-top: 12px;
}
.banner-content > input[type="button"] {
	background-color: #36b7d7;
	border: medium none;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	height: 50px;
	width: 185px;
	font-weight:500;
}
/* About Section */
.about-section {
	padding-top: 54px;
}
.about-section form {
    background-color: #36b7d7;
    padding: 24px 20px 0 20px;
    position: relative;
    z-index: 8;
}
.about-section form h4 {
	font-size: 20px;
	color: #626262;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 24px
}
.about-section form ul {
	list-style: none;
}
.about-section form ul li {
	display: inline-block;
	width: 100%;
}
/*.about-section form ul li .form-group {
	margin: 0;
	background-color: transparent;
	height: 49px;
}*/
.about-section form ul li .form-group label {
	color: #7a7a7a;
	font-size: 17px;
	font-weight: 300
}
.about-section form ul li .form-group input, .about-section form ul li .form-group select {
	padding: 0 10px;
	color: #7a7a7a;
	border: 0 none;
	height: 50px;
	margin-left: 0%;
	width: 100%;
	font-size: 17px;
}
.about-section form ul li.submit .form-group {
	padding: 0
}
.about-section form ul li.submit .form-group input {
	width: 100%;
	margin: 9px 0 0;
	background-color: #36b7d7;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.about-section form ul li.submit .form-group input:hover {
    background: #36b7d7!important;
}
.about-section form ul li.submit .form-group input:hover, .about-section form ul li.submit .form-group input:focus, .about-section form ul li.submit .form-group input:active {
	background-color: #36b7d7;
}
.about-section form ul li .form-group select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url("../images1/dropdown.png");
	background-position: right center;
	background-repeat: no-repeat;
	position: relative;
}
/* My Business */
.mybusiness-section {
	background-image: url(../images1/tagb-bg.jpg);
	background-repeat: no-repeat;
	padding-top: 189px;
	position: relative
}
.skew2 {
	background-image: url("../svg/banner-strip.svg");
	background-repeat: no-repeat;
	background-size: cover;
	top: -18px;
	height: 150px;
	left: 0;
	position: absolute;
	width: 100%;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.iphone-frame-img {
	display: inline-block;
	position: relative;
	width: auto;
}
.iphone-frame-img img {
	width: auto;
}
.iphone-img {
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 11.4%;
	transform: translateY(0.1%);
	-webkit-transform: translateY(0.1%);
	-moz-transform: translateY(0.1%);
	-ms-transform: translateY(0.1%);
	-o-transform: translateY(0.1%);
}
.about-section form::after {
    background-image: url(../svg/form-border.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 48px;
    bottom: -12%;
    content: "";
    left: 0;
    position: absolute;
    z-index: 9;
    top: 99%;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #e4e5e7;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.mybusiness-section .paneldefault.panel-default > .panel-heading a span {
	display: inline-block;
	text-align: center;
	width: 25px;
}
.panel-default>.panel-heading a {
	display: block;
	padding: 10px 15px;
}
#myTab.nav.nav-tabs.responsive > li {
	width: 33.33%;
	text-align: center
}
#myTab.nav.nav-tabs.responsive > li > a {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #626262;
	border-color: currentcolor;
	border-image: none;
	border-radius: 0;
	border-style: none none none solid;
	border-width: 0 0 0 1px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	margin: 0;
}
#myTab.nav.nav-tabs.responsive > li.active > a, .nav.nav-tabs.responsive > li.active {
	border: 0;
	margin: 0;
	background-color: #35b2c8
}
#myTab.nav.nav-tabs.responsive {
	margin-bottom: 41px
}
#myTab.nav.nav-tabs.responsive > li.active > a::after {
	border-left: 15px solid rgba(0, 0, 0, 0);
	border-right: 15px solid rgba(0, 0, 0, 0);
	border-top: 15px solid #35B2C8;
	bottom: -14px;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.tab-content .panel.panel-default .panel-title span, .panel.panel-default .panel-title p {
	display: inline-block;
	line-height: 100%;
	vertical-align: middle;
	margin: 0
}
.tab-content .panel.panel-default .panel-title span {
	width: 20px;
	text-align: center
}
.tab-content .panel.panel-default .panel-title p {
	margin-left: 14px;
	font-family: 'oswald_regularregular';
	line-height: 1.6;
}
.tab-content .panel-default > .panel-heading a {
	display: block;
	padding: 14px 20px;
}
.tab-content .panel.panel-default .panel-body {
	border: 0 none;
	padding-left: 53px;
	padding-top: 0;
}
.tab-content .panel.panel-default .panel-body p {
	font-size: 15px;
	color: #626262;
	margin-bottom: 0
}
.panel-default > .panel-heading a[aria-expanded="true"] {
	background-color: #fff
}
.panel-default > .panel-heading a:hover {
	list-style: none;
	text-decoration: none;
}
.panel-group .panel + .panel {
	margin-top: 14px;
}
.panel-group .panel {
	border: 0
}
.panel.panel-default {
	position: relative;
	border-radius: 0
}
.panel.panel-default.active:after {
	width: 5px;
	height: 100%;
	background-color: #35b2c8;
	position: absolute;
	content: "";
	left: 0;
	top: 0
}
.panel.panel-default.active {
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}
.panel-default>.panel-heading a:after {
	content: "";
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: right;
	transition: transform .25s linear;
	-webkit-transition: -webkit-transform .25s linear;
}
/*.panel-default>.panel-heading a[aria-expanded="true"]:after { content: "\2212"; -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.panel-default>.panel-heading a[aria-expanded="false"]:after { content: "\002b"; -webkit-transform: rotate(90deg); transform: rotate(90deg);}
*/
.accordion-option {
	width: 100%;
	float: left;
	clear: both;
	margin: 15px 0;
}
.accordion-option .title {
	font-size: 20px;
	font-weight: bold;
	float: left;
	padding: 0;
	margin: 0;
}
.accordion-option .toggle-accordion {
	float: right;
	font-size: 16px;
	color: #6a6c6f;
}
.accordion-option .toggle-accordion:before {
	content: "Expand All";
}
.accordion-option .toggle-accordion.active:before {
	content: "Collapse All";
}
/* Team Section */
.team-section {
	padding-top: 90px;
	padding-bottom: 51px
}
.team-section ul {
	margin-bottom: 30px
}
.team-section ul li {
	display: inline-block;
	color: #626262;
	font-size: 15px;
	margin-right: 25px
}
.team-section ul li:last-child {
	margin: 0
}
.team-section ul li span {
	display: inline-block;
	text-align: center;
	width: 21px;
}
.team-section p {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.team-section p span {
	font-size: 38px;
	line-height: 100%
}
.team-pic > img {
	width: 100%;
}
.team-pic {
	position: relative
}
.team-pic::after {
	border: 2px solid #35b2c8;
	bottom: -15px;
	content: "";
	height: 100%;
	position: absolute;
	right: -15px;
	width: 100%;
	z-index: -1;
}
/* Choose Section */
.choose-section {
	background-color: #e0e4ed;
	position: relative;
	background-image: url("../images1/why-chose-us.jpg");
	background-repeat: no-repeat;
	background-size: 56% 100%;
}
.skew3 {
}
.choose-inner {
	padding: 90px 0 0px;
}
.choose-section p.heading-bottom {
	margin-bottom: 30px
}
.choose-section ul li span {
	display: inline-block
}
.choose-section ul li p {
	color: #626262;
	display: inline-block;
	font-size: 17px;
	margin-left: 1%;
	vertical-align: top;
	width: 94%;
}
.thumbnail-choose {
	float: left;
	width: 56%;
}
.thumbnail-choose img {
	width: 100%
}
.skew3 {
	background-image: url("../svg/border-vertical.svg");
	background-position: 0 -24px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}
/* Testimonial */
.testimonial-section .choose-inner {
	padding: 150px 0 90px 0;
}
.slider-content > span.client-number {
	height: 68px;
	width: 68px;
	border: 1px solid #ffffff;
	font-size: 29px;
	font-style: italic;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	display: inline-block;
	text-align: center;
	line-height: 2.1;
	color: #35b2c8
}
#demo2 #owl-demo .item img {
	width: auto;
	display: inline-block
}
.slider-content p {
    font-size: 15px;
    margin-top: 30px;
    padding-bottom: 34px;
    color: #b0b0b0;
    font-style: italic;
    position: relative;
    line-height: 2;
    font-weight: bold;
}
.slider-content p::after {
	background-color: #555555;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 22px;
}
.client-name {
	font-size: 18px;
	margin-top: 17px;
	color: #555555;
	font-style: italic;
	font-family: 'oswald_regularregular';
}
.client-name > span {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #d5d5d5;
}
.testimonial-section .owl-theme .owl-controls .owl-buttons div {
	background-color: rgba(0, 0, 0, 0);
	left: -100px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	margin: 0;
	padding: 0;
	line-height: 3.5;
	padding: 0 0 0 15px;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.testimonial-section .owl-theme .owl-controls .owl-buttons .owl-next {
	left: auto;
	right: -100px;
	padding: 0 15px 0 0;
}
.testimonial-section .owl-theme .owl-controls .owl-buttons div::after {
	background-color: #36b7d7;
	content: "";
	height: 46px;
	left: 0;
	position: absolute;
	top: 0;
	width: 46px;
	z-index: -1
}
.testimonial-section .owl-theme .owl-controls .owl-buttons .owl-next:after {
	left: auto;
	right: 0
}
.owl-pagination {
	display: none
}
/* Footer */
footer {
	background-color: #191919;
	float: left;
	width: 100%;
}
footer .container {
	position: relative
}
.footer-details {
	padding-top: 60px;
}
.footer-details h6 {
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}
.footer-details ul li {
	margin-bottom: 24px
}
.footer-details ul li:last-child {
	margin-bottom: 0
}
.footer-details ul li a {
	color: #e2e2e2;
	font-size: 14px;
	line-height: 100%;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.footer-details ul li a:hover, .footer-details ul li a:focus, .footer-details ul li a:active {
	color: #36b7d7;
	text-decoration: none
}
.footer-details ul li a span {
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.footer-details ul li a:hover span, .footer-details ul li a:focus span, .footer-details ul li a:active span {
	background-color: #fff;
	color: #36b7d7;
}
.footer-details.contact-addres ul li span {
	height: 25px;
	font-size: 14px;
	width: 25px;
	background-color: #36b7d7;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 1.8;
	vertical-align: middle
}
.footer-details.contact-addres ul li a:hover p, .footer-details.contact-addres ul li a:focus p, .footer-details.contact-addres ul li a:active p {
	color: #36b7d7;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.footer-details.contact-addres ul li.email-link a:hover p, .footer-details.contact-addres ul li.email-link a:focus p, .footer-details.contact-addres ul li.email-link a:active p {
	color: #36b7d7;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.footer-details ul li p {
	color: #fff;
	font-size: 17px;
	margin: 0;
	display: inline-block;
	vertical-align: middle
}
.footer-details ul li.email-link p {
	color: #36b7d7;
}
.social-copy {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #444444;
	padding-bottom: 25px;
}
.social-links h6 {
	font-size: 17px;
	text-transform: none;
	font-family: 'oswaldlight';
}
.social-links h6, .social-links ul li a {
	color: #e2e2e2;
	display: inline-block;
}
.social-links > ul, .social-links ul li {
	display: inline-block;
}
.social-links ul li a {
	margin-left: 15px;
	color: #9a9a9a;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.social-links ul li.fb:hover a, .social-links ul li.fb:focus a, .social-links ul li.fb:active a {
	color: #3b5998;
}
.social-links ul li.tw:hover a, .social-links ul li.tw:focus a, .social-links ul li.tw:active a {
	color: #1DA1F3;
}
.social-links ul li.google:hover a, .social-links ul li.google:focus a, .social-links ul li.google:active a {
	color: #D34836;
}
.copyright {
	color: #e3e3e3;
	font-size: 15px;
	margin: 0;
}
footer .form-section {
	position: relative;
}
footer .form-section::after {
	background: #35b2c8;
	content: "";
	height: 6%;
	left: 0;
	position: absolute;
	right: 0;
	top: -17px;
	width: 90%;
	margin: auto;
	z-index: 1;
}
footer .form-section form:after {
	position: absolute;
	top: -17px;
	right: -18px;
	content: "";
	border-left: 9px solid #1790a5;
	border-top: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 8px solid #1790a5;
}
footer .form-section form:before {
	position: absolute;
	top: -17px;
	left: -18px;
	content: "";
	border-left: 9px solid transparent;
	border-top: 9px solid transparent;
	border-right: 9px solid #1790a5;
	border-bottom: 8px solid #1790a5;
}
footer form {
	background-color: #ffffff;
	padding: 24px 20px 30px;
	position: relative;
	width: 90%;
	display: inline-block;
}
footer form h4 {
	font-size: 20px;
	color: #fff;
	font-family: 'oswaldmedium';
	margin-bottom: 24px
}
footer form ul {
	list-style: none;
}
footer form ul li {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px
}
footer form ul li .form-group {
	margin: 0;
	background-color: #fff;
	height: 49px;
	padding-left: 14px
}
footer form ul li .form-group label {
	color: #7a7a7a;
	font-size: 17px;
	font-weight: 300
}
footer form ul li .form-group input {
	border: 0 none;
	height: 100%;
	margin-left: 3%;
	width: 79%;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 17px;
}
footer form ul li.submit .form-group {
	padding: 0;
	background-color: transparent;
}
footer form ul li.submit .form-group input {
	width: 100%;
	margin: 0;
	text-indent: -37px;
	background-image: url(../images/form-footer-arrow.png);
	background-repeat: no-repeat;
	background-position: 60% center;
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'oswaldmedium';
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
footer form ul li.submit .form-group input:hover, footer form ul li.submit .form-group input:focus, footer form ul li.submit .form-group input:active {
	background-color: #058298;
	border-color: #058298
}
.mybusiness-section .panel-default > .panel-heading a.accordion-toggle[aria-expanded="true"] {
	pointer-events: none;
}
.mybusiness-section .panel-default > .panel-heading a.accordion-toggle.collapsed[aria-expanded="true"] {
	pointer-events: auto;
}
.banner-section .owl-pagination {
	display: none
}
.down-link2 {
	right: -40px;
	position: absolute;
	border: 2px solid #35B2C8;
	border-radius: 50%;
	float: left;
	height: 36px;
	width: 36px;
	bottom: 25px;
	text-align: center
}
.down-link2.go-top {
	line-height: 2;
}
/*********** work process starts here *******************/

section#work-process-container {
    padding: 200px 0px 60px 0px;
	background:url(../images1/home-banner.png);
	position:relative;
}

.work-process-heading h2 {
	display: inline-block;
	position: relative;
	font-size: 60px;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	text-transform: capitalize;
	margin: 0 0 5px;
}

.work-process-heading p {
    color: #d6d5d5;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 18px;
}

.steps-container {
    margin-top: 70px;
	padding:20px;
}

.steps-container:hover .steps-img-border {
	border:2px dashed #36b7d7;
}

.steps-container:hover .step-text h4 {
	color: #36b7d7;
}

.steps-img-border {
    width: 190px;
    height: 190px;
    border: 2px dashed #ffffff;
    border-radius: 100px;
    padding: 9px;
    display: block;
    margin: 0 auto;
	position:relative;
	transition:ease;
	transition-duration:0.44s;
}

.step-image {
    width: 167px;
    height: 167px;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

.step-image3 {
    width: 167px;
    height: 167px;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

.step-image::after {
    content: "";
    position: absolute;
    background: url(../images1/step-arrow.png);
    top: 50%;
    right: -140px;
    width: 70px;
    height: 20px;
    background-repeat: no-repeat;
}

.step-image img, .step-image3 img {
    display: block;
    margin: 0 auto;
	width:100%;
}

.step-text h4 {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
	font-family:  'Montserrat', sans-serif;
	margin-top:20px;
	font-weight:400;
}

.step-text p {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

/********* services starts here **********************/

.services-heading h2 {
    display: inline-block;
    position: relative;
    font-size: 60px;
    color: #2e2e2e;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    margin: 0 0 5px;
}

section#services-container {
    padding: 90px 0px 0px 0px;
}

.services-heading p {
    margin-top: 20px;
    color: #656f78;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 400;
}

.services-tab-container {
    margin-top: 40px;
}

.services-tab-container ul li {
    width: 33.33%;
}

.services-tab-container ul.nav.nav-tabs {
    border-bottom: none;
}

.services-tab-container ul li a {
    border: 0px !important;
    border-radius: 0px;
    background: #2e2e2e;
    margin-right: 1px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
	transition:ease;
	transition-duration:0.44s;
}

.services-tab-container ul li.active a {
    background: #36b7d7!important;
	color:#ffffff !important;
}

.services-tab-container ul li a:hover {
    background: #36b7d7;
}

.services-tab-container .tab-content {
    margin-top: 45px;
    background: #ffffff;
    box-shadow: 0px 0px 26px rgba(0,0,0,0.175);
    padding: 40px 30px;
}

.services-tab-container .tab-content ul li {
    width: 100%;
    padding-left: 30px;
    position: relative;
    line-height: 2.2;
    font-size: 20px;
}

.services-tab-container ul li.active::after {
    content: "";
    background: #36b7d7;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
    top: 35px;
    left: 46%;
}

.services-tab-container .tab-content ul li::before {
    content: "";
    width: 10px;
    height: 2px;
    background: red;
    position: absolute;
    top: 20px;
    left: 0;
}

.services-form {
    margin-top: 40px;
	font-family: 'Montserrat', sans-serif;
}

.services-form .form-group {
    margin-bottom: 12px;
}

.form-heading H3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-heading p {
    font-size: 17px;
    color: #7a7a7a;
}

select.form-control {
    font-size: 17px;
    color: #7a7a7a;
    border-radius: 0px;
	height:50px;
	background:url(../images1/dropdown.png);
	background-position:right;
	background-repeat:no-repeat;
	-webkit-appearance:none;
	-moz-user-appearance:none;
}
.form input {
    font-size: 17px;
}
.form input:focus {
    border: 1px solid #cccccc;
    box-shadow: none;
}

select.form-control:focus {
    border:1px solid #cccccc;
}

.form input {
    border-radius: 0px;
	height:50px;
}

button.btn-block.btn-service-form {
    background: #36b7d7;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
	transition:ease;
	transition-duration:0.4s;
}
button.btn-block.btn-service-form:hover {
    background: #36b7d7;
}

bootstrap.min.css:5
.btn-block {
    display: block;
    width: 100%;
}

/******** testimonial section starts here ***********************/

.testimonial-section {
	background:url(../images1/testimonial-background.png);
	background-repeat:no-repeat;
	margin-top:30px;
}

section.testimonial-section .page-header h2 {
    color: #ffffff;
}

.testimonial-section .page-header h2::after {
	content:"";
	width:70px;
	height:20px;
	position:absolute;
	background:url(../images1/banner-heading-border.png);
}

.testimonial-section .page-header h2::after {
    content: "";
    width: 80px;
    height: 10px;
    position: absolute;
    background: url(../images1/banner-heading-border.png);
    background-repeat: no-repeat;
    top: 75px;
    left: 0;
}

section.testimonial-section #demo2 {
    margin-top: 60px;
}

.slider-content {
    padding: 15px;
}

.client-name {
    font-size: 18px;
    margin-top: 17px;
    color: #d5d5d5;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/******* newsletter starts here *******************/

section#newsletter-container {
    padding: 60px 0px;
	background:url(../images1/newsletter-background.png);
}

.newsletter-heading.text-center h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 30px;
}

.newsletter-heading.text-center {
    position: relative;
}

.newsletter-heading.text-center h2::after {
    content: "";
    width: 80px;
    height: 10px;
    position: absolute;
    background: url(../images1/slider-line.png);
    background-repeat: no-repeat;
    top: 46px;
    left: 38%;
}

.newsletter-heading.text-center p {
    margin-top: 30px;
    color: #7a7a7a;
    font-weight: 500;
    font-size: 15px;
}

.subscribe {
    text-align: center;
	margin-top:30px;
}

.subscribe input {
    height: 50px;
    width: 420px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    padding-left: 30px;
}

button.btn-subscribe {
    background: #36b7d7;
    height: 50px;
    width: 150px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
	transition:ease;
	transition-duration:0.4s;
}
button.btn-subscribe:hover {
    background: #36b7d7;
}

/********** call us starts here *********************/

section#call-us-section {
    background: #36b7d7;
    padding: 40px 0px;
}

.call-icon::after {
    content: "";
    width: 1px;
    position: absolute;
    height: 90px;
    background: #ffffff;
    top: -10px;
    right: -30px;
}

.call-detail {
    padding-left: 60px;
    font-family: 'Montserrat', sans-serif;
}

.call-detail h4 {
    color: #ffffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 22px;
}

.call-detail h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}

/********footer section starts **************/

.services-form2 {
	font-family: 'Montserrat', sans-serif;
	margin-top:-15px;
	position:relative;
}
.services-form2 h4 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
	margin-bottom:15px;
}
.services-form2.form-heading2 H3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.services-form2 textarea {
    width: 100%;
    border-radius: 0px;
    resize: none;
    font-size: 17px;
}

textarea.form-control:focus {
    border: 1px solid #cccccc;
    box-shadow: none;
}

footer form {
    background-color: #ffffff;
    padding: 20px 15px 15px;
    position: relative;
    width: 90%;
    display: inline-block;
	z-index:1;
}

.services-form2.form-heading2 p {
    font-size: 17px;
    color: #7a7a7a;
}

.services-form2 select.form-control {
    font-size: 17px;
    color: #7a7a7a;
    border-radius: 0px;
	height:50px;
}

.services-form2 select.form-control:focus {
    border:1px solid #cccccc;
	box-shadow:none;
}

.services-form2.form input {
    border-radius: 0px;
	height:50px;
}

.services-form2.form input:focus {
    border:1px solid #2e2e2e;
}

.services-form2 button.btn-block.btn-service-form {
    background: #36b7d7;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
}
button.btn-block.btn-service-form:hover {
    background: #36b7d7;
}
.twitter-feed img {
    max-width: 100%;
}

.twitter-feed p {
    color: #e2e2e2;
    font-size: 13px;
    margin-top: 15px;
}
.twitter-feed a {
    color: #36b7d7;
}

.footer-details.contact-addres P {
    COLOR: #e2e2e2;
    font-size: 13px;
    display: inline-block;
    width: 80%;
}
.social-links h6, .social-links ul li a {
    color: #e2e2e2;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.pinterest i.fa.fa-pinterest-p:hover {
    color: #c92228;
		transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}

.feed i.fa.fa-rss:hover {
    color: #ff6600;
		transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}

.services-form2 .form::before {
    content: "";
    width: 50px;
    height: 15px;
    background: #d7d7d7;
    position: absolute;
    top: 0;
    left: -10px;
    transform: skew(-50deg);
}

.services-form2 .form::after {
    content: "";
    width: 50px;
    height: 15px;
    background: #d7d7d7;
    position: absolute;
    top: 0;
    right: 26px;
    transform: skew(50deg);
}