@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Courgette);
/*
 Theme Name: 	Theme for SOCIAL MEDIA WAY
 Theme URI: 		http://www.omeninteractive.com
 Author: 		Omen Interactive
 Author URI: 	http://www.omeninteractive.com
 Description:	Custom Built 
 Template:		betheme
 Version: 		3.0
 */
/* LOADING STUFF
 -------------------------------------------------------------- */
/**
 *
 * Colors
 *
 */
/**
 *
 * File Imports
 *
 */
/**
 *
 * Google Fonts
 *
 */
/* Theme customization starts here
 -------------------------------------------------------------- */
/**
 *
 * ADmin Bar
 *
 */
/**
 *
 * Site Menu
 *
 */
#menu .current-menu-item:hover {
  color: #2897b2 !important;
}
#menu .current-menu-item a span {
  color: #2897b2;
}
.creative-menu-toggle i {
  color: #2897b2;
}
/**
 *
 * Home Page Styles
 *
 */
.hire-us-btn a {
  border-radius: 50px;
  background: #2897b2;
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  color: white;
  font-size: 1.5rem;
}
.hire-us-btn:hover a {
  background-color: lightgray;
  color: black;
  text-decoration: none;
}
.get_in_touch, .infobox {
  background-color: #2897b2;
}
.google-map-contact-wrapper .get_in_touch:after {
  border-top-color: #2897b2;
}
.icon-mail-line, .icon-comment-line, .icon-doc-line {
  color: #2897b2;
}
#MIDDLE-ICON-INFO-BLOCK .middle-info-block-icon .icon_box .icon_wrapper, #MIDDLE-ICON-INFO-BLOCK .middle-info-block-icon .icon_box a .icon_wrapper, #MIDDLE-ICON-INFO-BLOCK .middle-info-block-icon .style-simple .icon_box:hover .icon_wrapper {
  color: #2897b2;
}
#MIDDLE-ICON-INFO-BLOCK .middle-info-block-icon .icon_box:hover .icon_wrapper:before, #MIDDLE-ICON-INFO-BLOCK .middle-info-block-icon .icon_box a:hover .icon_wrapper:before {
  background-color: black;
}
#MOOSE-TEXT-BLOCK {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
#MOOSE-TEXT-BLOCK h1 {
  padding-bottom: 3rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
@media (min-width: 1300px) {
  #MOOSE-TEXT-BLOCK h1 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
#MOOSE-TEXT-BLOCK p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}
@media (min-width: 1300px) {
  #MOOSE-TEXT-BLOCK p {
    padding-left: 22rem;
    padding-right: 22rem;
  }
}
@media (min-width: 800px) {
  #MOOSE-TEXT-BLOCK p {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
#MOOSE-BOTTOM-ICON-BLOCK h2, #MOOSE-BOTTOM-ICON-BLOCK h3, #MOOSE-BOTTOM-ICON-BLOCK h4 {
  color: white;
}
/**
 *
 * Remove Featured Image from Single Post
 *
 */
.single-post .single-photo-wrapper {
  display: none;
}
.single-post .section-post-related .single-photo-wrapper {
  display: block !important;
}
/**
 *
 * Remove Author Box from Single Post
 *
 */
.single-post .author-box {
  display: none;
}
/**
 *
 * Join Us Page Styles
 *
 */
.page-id-2500 #Content {
  padding-top: 0;
}
