#keywordSelector {
  z-index: 1066;
  position: fixed;
  border: 3px solid rgba(47, 64, 80, 0.51);
  border-radius: 7px;
  background: #fff;
  height: 90vh;
  overflow: auto;
  top: 8%;
  right: 8px;
}
#keywordSelector header {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
#keywordSelector label {
  display: block;
  padding: 3px 0;
}
#keywordSelector .keyword {
  display: inline-block;
  max-width: 230px;
  word-wrap: break-word;
  padding-left: 5px;
}
#keywordSelector .keyword-type-toggle-link {
  float: left;
  font-weight: bold;
}
#keywordSelector .keyword-type-toggle-link:before { content: "["; }
#keywordSelector .keyword-type-toggle-link:after { content: "]"; }

.keywords label:nth-child(2n) { background-color: #efefef }

/* Usage Counter */
#keywordSelector .usage-count { float: right; }
#keywordSelector .usage-count-total:before          { content: "[T:"; }
#keywordSelector .usage-count-page:before          { content: "[C:"; }
#keywordSelector .usage-count-page-images:before   { content: "[I:"; }
#keywordSelector .usage-count:after { content: "]"; }

#keywordSelector .usage-count-page,
#keywordSelector .usage-count-page-images,
#keywordSelector .keyword-type-toggle-link {
  margin-right: 2px;
}

#loadMoreButton { margin-bottom: 500px; }

.primary_keyword{
  color:#7878FF;
}