[resource-type="read-more"] {
	border:1px solid #c5c5c5;
	background-color: #F1F1F1;
	margin-top: 50px;
	position: relative;
	padding: 15px;
}

[resource-type="read-more"] a {
	color: #000;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    padding-left: 16px
}

[resource-type="read-more"]:before {
	content:'READ MORE';
    background-color: #000;
	color: #fff;
	padding: 5px 8px 6px 10px;
	font-family: 'Open Sans',sans-serif;
    position: absolute;
    left: 70px;
    top:-20px;
    font-weight: bold;
}

[resource-type="read-more"]:after {
	content:'e C f';
	background-color: #3897F0;
	color: #fff;
	padding: 5px 8px 6px 5px;
	font-family: 'Open Sans',sans-serif;
    position: absolute;
    left: 30px;
    top:-20px;
    font-weight: bold;
}

[resource-type="read-more"] a:before {
	border: 6px solid transparent;
    border-left: 6px solid #141414;
    content: '';
    display: inline-block;
    height: 0;
    left: 16px;
    line-height: 0;
    position: absolute;
    top: 20px;
    width: 0;
}