html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

img {
    max-width: 100%;
    height: auto;
}
.table-bordered {
    border: 1px solid #cccccc;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #cccccc;
}
form .hint-block {
    display: block;
    margin-top: 5px;
    font-style: italic;
    color: #999999;
}
.date.input-sm {
    padding: 0;
}
.box {
    border-radius: 0;
}
.full-width {
    width: 100%;
    max-width: 100%;
}

/* GRID VIEW */
.grid-view {
    position: relative;
}
.grid-view .summary {
    position: absolute;
    right: 0;
    top: -35px;
}
.grid-nav {
    margin: 10px 0;
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* MEDIA CREATE */
.media-create .dropzone {
    width: 100%;
    height: 250px;
    text-align: center;
    border: 5px dashed #dddddd;
    padding: 15px;
    margin-bottom: 15px;
}
.media-create .dropzone.hover {
    background: #ffffff;
}
.media-create .dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
.media-create .template-download,
.media-create .template-upload {
    position: relative;
    margin-top: 6px;
}
.media-create .template-download .media-preview-wrap,
.media-create .template-upload .media-preview-wrap {
    margin-right: 160px;
}
.media-create .template-upload .media-preview,
.media-create .template-download .media-preview {
    float: left;
    margin-right: 6px;
    max-width: 80px;
}
.media-create .template-download .media-preview img {
    max-width: 100%;
}
.media-create .template-download .media-filename-wrap,
.media-create .template-upload .media-filename-wrap {
    float: left;
}
.media-create .template-upload .media-progressbar,
.media-create .template-download .media-option {
    position: absolute;
    right: 0;
    top: 0;
    width: 160px;
}
#media-grid-view .media-mime-icon {
    display: block;
    text-align: center;
}
#media-grid-view .media-mime-icon img {
    max-width: 80px;
    width: 80px;
}

/* RESPONSIVE */
@media (max-width: 767px) {
    .grid-view {
        overflow-x: auto;
    }
    .grid-view .summary {
        position: relative;
        right: 0;
        top: 0;
    }
    .grid-nav > .form-group > * {
        margin-bottom: 15px;
    }
}
@media (max-width: 480px) {
    .theme .col-xs-6 {
        width: 100%;
    }
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.selectize-input {
    border-radius: 0px;
}

.selectize-dropdown-header {
    -webkit-border-radius: 0px 0px 0px 0px !important;
    -moz-border-radius: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 0px 0px !important;
  }
  .selectize-control.plugin-remove_button [data-value] .remove {
    -webkit-border-radius: 0px 0px 0px 0px !important;
    -moz-border-radius: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 0px 0px !important;
  }
  .selectize-input {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
  .selectize-input.dropdown-active {
    -webkit-border-radius: 0px 0px 0px 0px !important;
    -moz-border-radius: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 0px 0px !important;
  }
  .selectize-dropdown {
    -webkit-border-radius: 0px 0px 0px 0px !important;
    -moz-border-radius: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 0px 0px !important;
  }
  .selectize-dropdown [data-selectable] .highlight {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
  .selectize-dropdown,
  .selectize-dropdown.form-control {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
  .selectize-input.dropdown-active {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
  .selectize-control.multi .selectize-input > div {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
  .form-control.selectize-control {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
