.upload-video {
    background-color: #fff;
    padding: 50px 10px;
    color: #888;
}

.upload-video .upload {
    display: block;
    text-align: center;
    height: 100px;
    width: 190px;
    margin: 0 auto;
}

.upload-video .upload i {
    font-size: 70px;
    color: #CCC;
}

.upload-video .upload p {
    font-size: 1.3em;
    color: #888;
    font-weight: 700;
}

.upload-video p {
    text-align: center;
}

.upload-video select {
    width: 80px;
    margin: 10px auto;
    display: block;
    padding: 6px 0;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

.upload-video select:focus {
    outline: none;
}

.help-suggestion {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}

.help-suggestion h5 {
    color: #444;
    margin-top: 0;
    margin-bottom: 5px;
}

.help-suggestion p {
    font-size: 1em;
    color: #888;
}

.help-suggestion p a {
    color: #54cef7;
}

.help-suggestion a {
    display: inline-block;
    color: #888;
    font-size: 0.8em;
    cursor: pointer;
}

.video-form {
    background-color: #fff;
    padding: 10px;
}

.video-form h5 {
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.video-form form {
    margin-top: 10px;
}

.video-form form input,
.video-form form textarea {
    width: 100%;
}

.video-form form textarea {
    height: 80px;
}

.video-form form .video-credit p,
.video-form form .also-share-on p,
.video-thumbnail p {
    font-weight: 600;
    margin-bottom: 3px;
}

.video-form form .also-share-on {
    margin-bottom: 0;
}

.video-form form .also-share-on input {
    width: 20px;
}

.video-form form .also-share-on p,
.video-form form .also-share-on input {
    display: inline;
}

.video-form form select {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 6px;
}

.video-form form .public select {
    width: 100%;
}

.video-form textarea,
.video-form input {
    padding: 6px;
}

.video-form form .add-message textarea {
    height: 70px;
    resize: none;
}

.video-thumbnail img {
    display: inline-flex;
    height: 110px;
    width: 20%;
}

.video-thumbnail .custom-thumbnail-button {
    display: inline-block;
    border-left: 1px solid #ddd;
    padding: 10px;
}

.video-thumbnail span {
    display: block;
    color: #888;
}

.video-thumbnail .custom-thumbnail-button button,
.video-form form .add-to-playlist button {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 6px;
    width: 100%;
}

.video-form form .add-to-playlist button i {
    color: #888;
}

.video-form input:focus,
.video-form textarea:focus,
.video-form button:focus,
.video-form select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

.wrapper-content {
    overflow: hidden;
}