
@media (max-width: 1366px){
	.choose-section p.heading-bottom{ margin-bottom: 20px}
	.choose-section { background-size: 54% 100%;}
	.heading-bottom{font-size: 17px; line-height: 1.5;}
	nav.navbar.navbar-default::before{ left: -123%}
	.down-link2{ right: -10px}
	.shadow-img { right: -10px;  width: 80%;}
	ul.top-ul li {
    padding-left: 10px;
}

}

@media (max-width: 1199px) {
	.about-section form::after{ width: 100.3%; bottom: -11%;}
	.about-section form ul li .form-group input, footer form ul li .form-group input{ margin-left: 0}
	.choose-section p.heading-bottom{ margin-bottom: 10px}
	.choose-section ul li p{ width: 92%}
	.page-header h2{  font-size: 30px;}
	footer form h4 { font-size: 17px; }
	.shadow-img { right: 0;}
	.navbar-default .navbar-nav > li {
    padding: 10px 8px;
}
.services-form2 h4 {
    font-size: 15px;
}
.step-image::after {
    right: -105px;
}
.footer-details {
    padding-top: 30px;
}
.services-tab-container ul li a {
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li {
font-size:14px;	
}
.banner-content span {
    padding-right: 150px;
}
.services-tab-container ul li.active::after {
    top: 30px;
}
.services-tab-container .tab-content {
    margin-top: 30px;
}
.banner-content h1 {
    font-size: 55px;
}
.banner-content span {
    font-size: 45px;
}
.banner-content,
p {
    margin-bottom: 15px;
}
.call-detail h4 {
    font-size: 17px;
}
.banner-content > input[type="button"] {
    font-size: 16px;
    height: 40px;
    width: 150px;
}
.msg_fixed {
    top: 60%;
}
.about-section form h4 {
    font-size: 16px;
    font-weight: bold;
}
.services-form2 .form::after {
    right: 20px;
}
.social-links ul li a {
    margin-left: 8px;
}
.social-links h6 {
    font-size: 15px;
}
.copyright {
    font-size: 14px;
}
.footer-details h6 {
    font-size: 18px;
}
#banner-container {
    padding: 200px 0px 180px 0px;
}
}

@media (max-width:1024px) {
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ed2307 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ed2307 !important;
}
.skew2 {
    display: none;
}
.skew {
    display: none;
}
.footer-details h6 {
    margin-bottom: 20px;
}
.banner-content, p {
    margin-bottom: 0px;
}
.social-copy {
	margin-top:15px;
    padding-bottom: 15px;
}
#banner-container {
    padding: 180px 0px 120px 0px;
}
.about-section form::after {
    display:none;
}
.about-section {
    padding-bottom: 30px;
}
.banner-content span {
    font-size: 35px;
}
.step-image::after {
    display:none;
}
.banner-content {
    top: 30%;
}
.work-process-heading h2 {
    font-size: 30px;
}
.banner-content {
    left: 8% !important;
}
.services-heading h2 {
    font-size: 30px;
}
.testimonial-section .page-header h2::after {
    top: 45px;
}	
section.testimonial-section #demo2 {
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span {
    background-color: #ed2307;
}
.testimonial-section .page-header {
    margin-top: 30px;
}
.subscribe input {
    height: 50px;
    width: 450px;
}
.call-detail h2 {
    font-size: 30px;
    text-align: left;
}
footer form {
    width: 100%;
}
.services-form2 .form::after {
    right: -10px;
}

.services-tab-container ul li a{font-size:15px;}
.services-tab-container ul li.active::after{top:45px;}
.services-tab-container .tab-content{margin-top:30px;}
.services-tab-container ul li a {
    font-size: 14px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul.top-ul li a span {
    width: 24px;
    height: 24px;
    line-height: 24px;
}
ul.top-ul li a p {
    font-size: 13px;
    font-weight: 300;
}
ul.top-ul li a span {
    margin-right: 5px;
}
.navbar-default .navbar-nav > li {
    padding: 10px 10px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li {
    font-size: 13px;
}
.banner-content h1 {
    font-size: 55px;
}
.banner-content span {
    font-size: 45px;
}
.banner-content p {
    margin-bottom: 30px;
}
.banner-content > input[type="button"] {
    font-size: 16px;
    height: 40px;
    width: 150px;
}
/*p.heading-bottom {
    font-size: 17px !important;
    line-height: 1.5 !important;
}*/
.about-section form h4 {
    font-size: 16px;
    margin-bottom: 15px;
}
/*.form-group input, .about-section form ul li .form-group select {
    height: 35px;
}
.about-section form ul li .form-group input, .about-section form ul li .form-group select {
    height: 35px;
    font-size: 12px;
}*/
.about-section form ul li {
    margin-bottom: 0px;
}
section#work-process-container {
    padding: 90px 0px 40px 0px;
}
.footer-details h6 {
    font-size: 18px;
}
.steps-container {
    margin-top: 40px;
    padding: 20px;
}
section#services-container {
    padding: 60px 0px 0px 0px;
}
.services-heading p {
    line-height: 1.5;
}
.services-tab-container ul li a {
    font-size: 16px;
}
/*select.form-control {
    height: 35px;
}*/
.form-heading p {
    margin-bottom: 5px;
}
/*button.btn-block.btn-service-form {
    height: 35px;
}*/
.services-tab-container .tab-content ul li {
    line-height: 1.8;
}
.services-tab-container .tab-content {
    padding: 30px 30px;
}
.testimonial-section .choose-inner {
    padding: 100px 0 90px 0;
}
.testimonial-section .page-header h2::after {
    left: 0;
}
.slider-content p {
    font-size: 14px;
}
.slider-content > span.client-number {
    line-height: 1.5;
	    height: 50px;
    width: 50px;
}
#demo2 #owl-demo .item img {
    width: 26px;
}
.services-tab-container .tab-content ul li::before {
    top: 15px;
}
.services-tab-container .tab-content ul li {
    font-size: 18px;
}
.services-tab-container .tab-content {
    margin-top: 30px;
}
.about-section form ul li.submit .form-group input {
    margin: 0px 0 0; 
}
.step-image::after {
    right: -110px;
}
.services-tab-container ul li.active::after {
    left: 46%;
}
.social-links ul li a {
    margin-left: 8px;
}
.social-links h6 {
    font-size: 15px;
}
.copyright {
    font-size: 14px;
}
.msg_fixed {
    top: 60%;
}
.banner-text p {
    color: #000000;
}
}
@media (max-width: 991px) {
    .navbar-header {float: none; }
    .navbar-toggle { display: block;    }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);    }
    .navbar-collapse.collapse { display: none!important;    }
	.navbar-collapse.collapse.in { display: block!important;    }
	nav.navbar.navbar-default.navbar-fixed-top{ background-color: #35B2C8; margin: 0; position: inherit;}
	/*nav.navbar.navbar-default.navbar-fixed-top.sticky{ position: fixed;}
	nav.navbar.navbar-default.navbar-fixed-top.sticky .navbar-toggle { margin: 7px 0 0;}*/
	.banner-section .owl-theme .owl-controls { left: 12%; transform: translate(-12%, -55%); -webkit-transform: translate(-12%, -55%); -moz-transform: translate(-12%, -55%); -ms-transform: translate(-12%, -55%); -o-transform: translate(-12%, -55%);}
	nav.navbar.navbar-default::before, .navbar-default .navbar-nav > li > a::after{ display: none}
	.navbar-default .navbar-toggle { border-color: #fff;  margin: 23px 0 0;}
	.navbar-default .navbar-toggle .icon-bar{ background-color: #fff}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ background-color: #fff;}
	.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{ background-color: #35B2C8}
	.navbar-collapse{ border: 0; box-shadow: none; background-color: rgba(0, 0, 0, 0.9); left: 0; padding: 0 15px !important; position: absolute; width: 100%; z-index:999}
    .navbar-nav { float: none!important; margin: 7.5px -15px;    }
    .navbar-nav>li { float: none;    }
    .navbar-nav>li>a { padding-top: 10px;  padding-bottom: 10px;    }
	 .about-section form h4{ font-size: 17px}
	 .mybusiness-section .panel-group.responsive .panel.panel-default { background-color: rgba(0, 0, 0, 0);}
	 .mybusiness-section .panel-group.responsive .panel.panel-default.active .panel-collapse .panel-body{ background-color: #fff}
	 .accordion-toggle{ position: relative; background-color: #35b2c8 !important; color: #fff !important; font-family: "oswaldmedium";  font-size: 26px;} 
	 .choose-section { background-size: 100% 100%;}
	 .choose-us { background-color: rgba(255, 255, 255, 0.89); padding: 15px}
	 .owl-pagination{ display: block}
	.testimonial-section .choose-inner { padding: 50px 0;}
	.owl-theme .owl-controls .owl-page span {  background-color: #ed2307;}
	.testimonial-section .owl-theme .owl-controls .owl-buttons div{ display: none}
	.banner-content h1 { font-size: 50px;}
	.down-link2.go-top { bottom: 120px;  left: inherit;  line-height: 2; right: 0;}
	.banner-content { max-width: 370px;}
	.banner-section .owl-theme .item > figure { height: 540px;}
	.banner-pic{ right: 15px}
	.banner-pic > img { width: 78%;}
	.skew{ height: 90px}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{ margin-left: 0}
	footer form ul li .form-group label{ width: 20%; text-align: left}
ul.top-ul li a p {
    font-size: 11px;
    font-weight: 300;
}
.free-notice-btn a.btn.btn-primary {
    font-weight: 600;
    font-size: 11px;
}
.navbar-default .navbar-toggle {
    margin: 18px 0 0;
}
.btn {
    padding: 5px 5px;
}
.banner-content h1 {
    font-size: 40px;
}
.banner-content span {
    font-size: 30px;
    padding-right: 20px;
}
.banner-content p {
    margin-bottom: 10px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li {
    font-size: 13px;
    color: #ffffff !important;
    width: 100%;
}
#banner-container {
    padding: 140px 0px 80px 0px;
}
.banner-text h1 {
    font-size: 45px;
}
.banner-text span {
    font-size: 35px;
}
.banner-text p {
    color: #000000;
}
.banner-text {
    padding: 15px;
}
.banner-text > input[type="button"] {
    height: 30px;
    width: 120px;
	font-size:14px;
}
.about-section form h4 {
    font-size: 15px;
    font-weight: 500;
}
p.heading-bottom {
    font-size: 16px !important;
    line-height: 1.6 !important;
}
.step-text h4 {
    font-size: 18px;
    font-weight: 700;
}
.services-heading p {
    line-height: 1.5;
    font-size: 15px;
}
.services-tab-container .tab-content ul li {
    font-size: 16px;
}
.services-tab-container .tab-content ul li::before {
    top: 12px;
}
.banner-text p {
    margin-bottom: 15px;
}
}
@media (max-width:812px) {
.dr-header ul li {
    margin: 5px 0px;
    display: inline-block;
}
ul.social-sec {
    margin-left: 10px;
}
.skew {
    height: 90px;
    display: none;
}
.banner-content h1 {
    font-size: 24px;
    margin-top: 60px;
}
.banner-content span {
    font-size: 24px;
}
#demo #owl-demo .banner-content img {
    display: none;
}
.banner-content {
    left: 10% !important;
}
.banner-content > input[type="button"] {
    font-size: 12px;
    height: 30px;
    width: 100px;
}
.banner-section .owl-pagination {
    display: none !important;
}
section#work-process-container {
    padding: 100px 0px 40px 0px;
}
.steps-container {
    margin-top: 10px;
    padding: 10px;
}
.services-tab-container ul li a {
    font-size: 14px;
}
.services-tab-container ul li a {
    font-size: 14px;
    height: 60px;
}

.services-tab-container .tab-content ul li {
    font-size: 14px;
}
.services-tab-container .tab-content ul li::before {
    top: 12px;
}
.newsletter-heading.text-center p {
    font-weight: normal;
    font-size: 14px;
}
.call-icon {
    display: none;
}
.call-detail {
    padding-left: 0px;
}
footer form {
    height: auto;
}
}
@media (max-width: 800px){
	.banner-pic > img {  width: 64%;}
	.banner-section .owl-theme .item > figure { height: 430px;}
	.banner-section .owl-theme .owl-controls { left: 10.6%; transform: translate(-10.6%, -55%); -webkit-transform: translate(-10.6%, -55%); -moz-transform: translate(-10.6%, -55%); -ms-transform: translate(-10.6%, -55%); -o-transform: translate(-10.6%, -55%);}
	ul.social-sec li {
    margin-right: 5px;
}
.free-notice-btn a.btn.btn-primary {
    font-size: 11px;
    padding: 5px;
}
ul.top-ul li {
    padding-left: 5px;
}
ul.top-ul li a span {
    width: 20px;
    height: 20px;
    line-height: 16px;
}
li.contact-details i {
    font-size: 10px;
}
ul.top-ul li a p {
    font-size: 12px;
    font-weight: 300;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li {
    font-size: 13px;
    color: #ffffff !important;
    width: 100%;
}
.banner-content {
    top: 20%;
}
.banner-content span {
    padding-right: 80px;
}
.services-tab-container .tab-content {
    padding: 20px 20px;
}
.banner-content, p {
    margin-bottom: 5px;
}
.call-detail h2 {
    text-align: center;
}
.call-detail h4 {
    text-align: center;
}
}
@media (max-width: 767px){
	.banner-section .owl-theme .owl-controls .owl-buttons{ margin-bottom: 0}
	.down-link2.go-top { right: 15px;}
	.banner-content p{ padding: 0 15px}
	.banner-pic > img { width: auto;}
	.banner-pic{ right: 0}
	.banner-pic > img.shadow-img { left: 0;  margin: auto;  right: 0;  width: 50%;}
	.navbar-collapse, .navbar-collapse.in{ margin: 0 !important}
	.navbar-header { padding: 0 15px;}
	.banner-pic { margin-top: 40px; text-align: center; position: inherit}
	.banner-section { background-position: 70% 0;  background-size: cover;}
	.banner-content { text-align: center; max-width: 100%;}
	.banner-section .owl-theme .item > figure { height: auto;}
	.banner-section .owl-theme .owl-controls { bottom: -35px;  left: 0;  position: absolute;  right: 0;  text-align: left;  top: auto;  transform: translate(0px, -55%);}
	.banner-content h1{ display: inline-block}
	.banner-content h1::after{ right: 0; margin: auto}
	
	
	.banner-section .owl-theme .owl-controls { margin: 0}
	.banner-section .owl-theme .owl-controls .owl-buttons{ margin-bottom: 25px;  text-align: center;}
	.about-section form::after { bottom: -25.5%;  width: 100%; height: 98px}
	.iphone-frame-img { margin-bottom: 25px; text-align: center; width: 100%}
	.choose-us {  float: none; padding: 35px 15px; width: 100%;}
	.choose-section ul li p { width: 90%;}
	.shadow-img { left: -70px;  right: 0;  width: 78%;  z-index: -1;}
	
	.choose-inner { padding: 66% 0 0;}
	.team-section p.heading-bottom{ margin-bottom: 15px}
	.mybusiness-section .paneldefault.panel-default > .panel-heading a { padding: 10px;}
	.mybusiness-section{ padding-top: 99px}
	.choose-section { background-size: 100% auto;}
	.team-section {  padding-bottom: 51px;  padding-top: 50px;}
	.page-header{ text-align: left}
	.iphone-frame-img img { width: 80%;}
	.iphone-frame-img img.iphone-img { width: 71%;}
	
select.form-control {
    font-size: 14px;
}
.banner-content, p {
    margin-bottom: 5px;
}
p.heading-bottom {
    margin-bottom: 15px;
}
.about-section form ul li .form-group input, .about-section form ul li .form-group select {
	font-size: 15px;
}
.form input {
    font-size: 15px;
}
.services-form2 select.form-control {
    font-size: 15px;
}
ul.social-sec{text-align:center;}
.top-ul.pull-right{width:100%; text-align:center;}
.msg_fixed {
    top: 50%;
}
.msg_fixed {
    height: 40px;
    width: 40px;
}
.msg_fixed i {
    font-size: 18px;
}
.msg_fixed > a {
    height: 40px;
    width: 40px;
}
.slider-content {
    padding: 0px;
}
.about-section form ul li.submit .form-group {
    padding: 0;
    margin-bottom: 10px;
}
.skew2 {
    display: none;
}
.about-section form::after {
    display:none;
}
.about-section {
    padding-bottom: 30px;
}
.banner-content h1 {
    font-size: 35px;
    margin-top: 60px;
    padding:0px;
}
.banner-content span {
    font-size: 35px;
	padding:0px;
}
.banner-content p {
    margin-bottom: 10px;
    color: #ffffff;
}
.banner-content img {
    display: none;
}
.footer-details {
    padding-top: 30px;
    margin-bottom: 30px;
}
.services-form2 .form::before {
    left: -6px;
    transform: skew(-40deg);
}
.services-form2 .form::after {
    right: -6px;
    transform: skew(40deg);
}
}
@media (max-width: 640px){
	.banner-section .owl-theme .owl-controls{ text-align: center}
	.banner-section .owl-pagination{ display: inline-block; margin: auto}
	.banner-section .owl-theme .owl-controls .owl-buttons{ display: none}
	.banner-section .owl-theme .owl-controls{ bottom: -5px}
	.banner-content p { font-size: 17px; margin-bottom: 38px;}
	footer .form-section form:before{ left: -17px;}
	footer .form-section form:after{ right: -17px}
	.services-form2 button.btn-block.btn-service-form {
    background: #ed2307;
    height: 35px;
}
.services-form2 select.form-control {
    font-size: 14px;
}
.step-text h4 {
    font-size: 18px;
    font-weight: 500;
}
.services-tab-container .tab-content {
    margin-top: 20px;
}
.services-tab-container .tab-content {
    padding: 20px 20px;
}
.services-tab-container ul li.active::after {
    left: 46%;
}
.social-links h6 {
    font-size: 14px;
}
.copyright {
    font-size: 13px;
}
.banner-content p {
    font-size: 17px;
    margin-bottom: 15px;
}
.banner-content h1 {
    font-size: 30px;
    margin-top: 60px;
    padding: 0px;
}
.banner-content span {
    font-size: 30px;
    padding: 0px;
    padding-right: 30px;
}
.subscribe input {
    width: 80%;
    border-radius: 50px;
    padding-left: 20px;
}
button.btn-subscribe {
    margin-top: 15px;
    border-radius: 50px;
    width: 80%;
}
}
@media (max-width: 560px){
	.banner-content p{ display: none}
	.banner-text h1 {
    font-size: 30px;
}
.banner-text span {
    font-size: 24px;
}
.banner-text p {
    color: #000000;
    font-size: 14px;
}	
#banner-container {
    padding: 100px 0px 40px 0px;
}
.msg_fixed {
    top: 50%;
}
}
@media (max-width: 480px){
	
	.down-link2 { left: auto;  right: 20px;}
	.social-copy{ text-align: center}
	.social-links, .copyright { width: 100%;}
	.copyright { margin-top: 10px}
	.subscribe input {
    width: 100%;
}
button.btn-subscribe {
    width: 100%;
}
}
@media (max-width: 420px){
footer form ul li .form-group label {
  width: auto;
}
.dr-header ul li {
    margin: 5px 0px;
    display: inline-block;
    padding-right: 20px;
}
	.banner-content h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.skew2 {
    display: none;
}
.about-section form::after {
	display:none;
}
.form-section {
    margin-bottom: 30px;
}
section#work-process-container {
    padding: 40px 0px 40px 0px;
}
/*.services-form2 select.form-control {
    height: 35px;
}*/
.navbar-default .navbar-toggle {
    margin: 18px 0 0;
}.services-tab-container ul li.active::after {
    left: 44%;
}
#banner-container {
    padding: 80px 0px 40px 0px;
}
}

@media (max-width:360px) {
p.heading-bottom {
    font-size: 14px !important;
}
.services-heading p {
    line-height: 1.5;
    font-size: 14px;
}
.navbar-brand>img {
    width: 240px;
}
.navbar-default .navbar-toggle {
    margin: 15px 0 0;
}
.about-section form h4 {
    font-size: 16px;
}
.work-process-heading h2 {
    font-size: 24px;
}
.page-header h2 {
    font-size: 24px;
}
.services-heading h2 {
    font-size: 24px;
}
.services-tab-container ul li a {
    font-size: 12px;
}
.form-heading H3 {
    font-size: 18px;
}
.newsletter-heading.text-center h2 {
    font-size: 24px;
}
.services-tab-container ul li.active::after {
    left: 42%;
}
.msg_fixed {
    top: 50%;
}
}
@media (min-width: 1400px){
	.choose-inner { padding: 180px 0 0;}
	.thumbnail-choose { width: 52%;}
	.banner-content { left: 18.8%; transform: translate(-18.8%, -50%); -webkit-transform: translate(-18.8%, -50%); -moz-transform: translate(-18.8%, -50%); -ms-transform: translate(-18.8%, -50%);-o-transform: translate(-18.8%, -50%);}
	.banner-section .owl-theme .owl-controls { left: 13%; transform: translate(-13%, -55%); -webkit-transform: translate(-13%, -55%); -moz-transform: translate(-13%, -55%); -ms-transform: translate(-13%, -55%); -o-transform: translate(13%, -55%);}
}
@media (min-width: 1600px){
	footer .form-section::before{ left: 2px; z-index: -9;  border-width: 12px 9px 8px;}
	footer .form-section::after{ right: 2px; z-index: -9;  border-width: 12px 9px 8px;}
	.banner-content { left: 23.8%; transform: translate(-23.8%, -50%); -webkit-transform: translate(-23.8%, -50%); -moz-transform: translate(-23.8%, -50%); -ms-transform: translate(-23.8%, -50%);-o-transform: translate(-23.8%, -50%);}
	.banner-section .owl-theme .owl-controls { left: 18%; transform: translate(-18%, -55%); -webkit-transform: translate(-18%, -55%); -moz-transform: translate(-18%, -55%); -ms-transform: translate(-18%, -55%); -o-transform: translate(18%, -55%);}
}
@media (min-width: 2024px){
	
	.banner-content { left: 26.8%; transform: translate(-26.8%, -50%); -webkit-transform: translate(-26.8%, -50%); -moz-transform: translate(-26.8%, -50%); -ms-transform: translate(-26.8%, -50%);-o-transform: translate(-26.8%, -50%);}
	.banner-section .owl-theme .owl-controls { left: 22%; transform: translate(-22%, -55%); -webkit-transform: translate(-22%, -55%); -moz-transform: translate(-22%, -55%); -ms-transform: translate(-22%, -55%); -o-transform: translate(22%, -55%);}
}


@media (min-width: 2500px){
	footer .form-section::before{ left: 5px; }
	footer .form-section::after{ right: 5px}
	nav.navbar.navbar-default::before { left: -67%;}
	.banner-content { left: 34.8%; transform: translate(-34.8%, -50%); -webkit-transform: translate(-34.8%, -50%); -moz-transform: translate(-34.8%, -50%); -ms-transform: translate(-34.8%, -50%);-o-transform: translate(-34.8%, -50%);}
	.banner-section .owl-theme .owl-controls { left: 29%; transform: translate(-29%, -55%); -webkit-transform: translate(-29%, -55%); -moz-transform: translate(-29%, -55%); -ms-transform: translate(-29%, -55%); -o-transform: translate(29%, -55%);}
}
@media (min-width: 3500px){
	nav.navbar.navbar-default::before { left: -62%;}
	.banner-content { left: 41%; transform: translate(-41%, -50%); -webkit-transform: translate(-41%, -50%); -moz-transform: translate(-41%, -50%); -ms-transform: translate(-41%, -50%);-o-transform: translate(-41%, -50%);}
	.banner-section .owl-theme .owl-controls { left: 37%; transform: translate(-37%, -55%); -webkit-transform: translate(-37%, -55%); -moz-transform: translate(-37%, -55%); -ms-transform: translate(-37%, -55%); -o-transform: translate(-37%, -55%);}
}